/* RESET */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

/* Header */
header {
    position: fixed;
    height: 80px;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
}

.nav-flex {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100%;
}
header a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}

.col-left {
    display: flex;
}

.col-right {
    display: flex;
}

.btn-blue {
    background-color: #0161ff;
    color: white;
    padding: 10px 18px;
    text-decoration: none;

}

/*Jumbotron*/

.full-blue-container {
    background-color: #b4d0e7;
    width: 100%;
    height: 725px;
    padding-top: 150px;
}

h1 {
    font-size: 70px;
}

.container80 {
    width: 80%;
    margin: 0 auto;
}

.jumbotron-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 70px;
}
.jumbo-description {
    width: 40%;
}

.jumbo-pic {
    width: 60%;
}

.jumbo-pic img {
    width: 700px;
}
.jumbo-description p {
    line-height: 24px;
}

.cancel {
    margin-top: 50px;
}
.jumbo-description a {
    margin-bottom: 30px;
}

/* Dropbox plan section */

.container70 {
    width: 70%;
    margin: 0 auto;
}
 .find-your-plan {
     margin-top: 120px;
     font-size: 32px;
 }
 .selected {

 }
.unselected {

}
.flex-columns-box {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.plan-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid #dbdbdd;
}

.column-title {
    text-align: center;
    border-bottom: 1px solid #dbdbdd;
    padding: 10px 0;
}
.container-column {
    padding-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.plan-title {
    font-size: 30px;
}

.plan-price {
    font-weight: bold;
    padding: 10px 0;
}
.grey-text {
    color: #687784;
    font-size: 10px;
}
.plan-features {
    padding: 40px 0;
}
.container-column li {
    padding: 10px 0;
}
.try-now {
    text-align: center;
    margin-bottom: 30px;
}
.purchase-now {
    text-decoration: underline;
    color: #3480ff;
}
.container-column hr {
    width: 50px;
    color: #687784;
    margin: 30px 0;
}
.container-column h3 {
    font-weight: bold;
    margin: 30px 0;
}
.fa-check {
    color: #3480ff;
}
.enterprise-plan-box {
    border: 1px solid #dbdbdd;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.team {
    text-align: center;
}

.enterprise-plan-container {
    display: flex;
    width: 100%;
    padding-top: 30px;
    justify-content: space-between;
    border: 1px solid #dbdbdd;
    margin: 0 auto;
    
}
.enterprise-plan-info {
    width: 75%;
}
.contact-office {
    width: 25%;
}
.container90 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.contact-office .btn-blue {
    width: 100%
}

.enterprise-plan-info h3 {
    font-size: 25px;
    padding-bottom: 20px;
}
.enterprise-plan-info span, p {
    padding: 30px 0;
}

/* Get in touch with Dropbox */
.flex-container70 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
}

.partner-pic img {
    width: 450px;
}

.partner-info {
    margin-top: 30px;
    width: 45%;
}

.partner-info h3 {
    font-weight: bold;
    font-size: 30px;
}
.partner-info .btn-blue {
    border: 1px solid black;
    color: black;
    background-color: white;
}
/* Dropbox Business Details */

.card-container70 h2 {
    font-size: 40px;
    margin-bottom: 60px;
}
.flex-container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.db-details {
    width: 70%;
    margin: 0 auto;
}

.card {
    width: 31%;
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 24px;
}

/* Partner companies */

.partner-companies h2 {
    font-size: 30px;
    margin-bottom: 40px;
}
 .find-out-more-info {
     margin: 40px 0;
     text-decoration: underline;
     color: #0161ff;
 }
 .partner-logos-container {
     width: 100%;
     margin-top: 40px;
     display: flex;
     height: 400px;
 }
.logos {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    background-color: green;
}

.designit {
    width: calc( 100% - 800px );
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}
.square {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green {
    background-color: #a2d39b;
    border: 7px solid #c8e4c3;
}
.bordeaux {
    background-color: #62092b;
}
.blue {
    background-color: #0093ce;
}
.red {
    background-color: #ff1b1c;
}
.darkred {
    background-color: #d50120;
}
.lightblue {
    background-color: #b4d0e7;
}
.darkblue {
    background-color: #0d2481;
}
.yellow {
    background-color: #ffd830;
}

.logos img {
    width: 50%;
    filter: invert(1);
}

.designit img {
    width: 200px;
}
.designit hr {
    width: 50px;
    color: #687784;
    margin: 30px 0;
}

.designit p {
    margin-bottom: 30px;
}
/* Call to Action */

.cta {
    background-color: #b4d0e7;
    height: 300px;
    width: 100%;
}
.cta-container {
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
}

.free-trial-btn .btn-blue {
    color: black;
    background-color: white;
}
